i7-scaring-101.Materials/Release/Cover.jpg
i7-scaring-101.inform/Build
i7-scaring-101.inform/Index
i7-scaring-101.inform/manifest.plist
i7-scaring-101.inform/Metadata.iFiction
i7-scaring-101.inform/Release.blurb
i7-scaring-101.inform/Settings.plist
i7-scaring-101.inform/Skein.skein
